<?xml version="1.0" encoding="utf-8"?>

<!-- 
/*
 *  Program : BlueToothTest
 *  About :   Android application proof of concept for triggering
 *            a camera remotely
 *  File :    AndroidManifest.xml
 *  Purpose : Calls out resources used by the program
 *   
 *  Copyright (C) 2011  Geoff Kerr, Digital Systems Technologies
 *  
 *  http://digisystech.com
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->  

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="test.BlueToothTest"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/index" android:label="@string/app_name_text">
        <activity android:name=".BlueToothTest"
                  android:label="@string/app_name_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About"
                  android:label="@string/about_title_text"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".Running"
                  android:label="@string/running_title_text"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".NoConnect"
                  android:label="@string/app_name_text"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:name=".Menu"
                  android:label="@string/app_name_text">
        </activity>
    </application>
</manifest>